{{template "base" .}}

{{define "title"}}
  Admin
{{end}}

{{define "main"}}
  {{template "admin" .}}
  {{template "admin-data" .}}
{{end}}

{{define "script"}}
  {{template "admin-controller" .}}
{{end}}