{{template "base" .}}

{{define "title"}}Deploy{{end}}

{{define "main"}}
    {{template "deploy"}}
    {{template "deploy-data"}}
{{end}}

{{define "script"}}
    {{template "deploy-controller"}}
{{end}}