{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
        {{if .User.Account}}
            <img src="data:image/png;base64,{{.PageContent.PNG}}"/>
        {{else}}
            <p class="shiftleft">There's nothing to see here yet!</p>
        {{end}}
{{end}}

{{define "script"}}

{{end}}