{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    {{template "home" .}}
    {{template "home-data" .}}   
{{end}}

{{define "script"}}
    {{template "home-controller" .}}
{{end}}