{{define "list-blobs"}}
    <div data-controller="list-blobs">
        <button data-action="click->list-blobs#listBlobs">List blobs</button>
    </div>
{{end}}

{{define "list-blobs-controller"}}
    Stimulus.register("list-blobs", class extends Controller {
        
        listBlobs() {
            fetch('http://localhost:8000/blobs')
            .then(response => response.text())
            .then(data => console.log(data))
        }
    })
{{end}}