:root {
    /*COLORS*/
    --clr-primary-200: #62CB31;
    --clr-primary-200-hover: #4EB722;

    --clr-primary-400: #34495E;
    --clr-primary-400-hover: #34495E;
    
    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F1F3F6;

    --clr-background-100: #F7F9FA;
    --clr-background-150: #E4E5E7;
    --clr-background-200: #6A6C6F;

    /*FONTS*/
    --ff-primary: "Ubuntu Mono", monospace;
    --font-weight-default: 400;
    --font-weight-h1: 700;
    
    --font-size-small: 1rem;
    --font-size-default: 1.25rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;
    --font-size-xxlarge: 2.5rem;

    /*SPACING*/
    --default-line-height: 1;

    --rainbow-height: 0.5rem;
    --footer-height: 1.5rem;
    --header-border: 0.25rem;
}


*, 
*::before,
*::after{
    box-sizing: border-box;
}


html, body {
    height: 100%;
    position: relative;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

.page-container {
    font-family: var(--ff-primary);
    font-size: var(--font-size-default);
    background-color: var(--clr-neutral-200);
    color: var(--clr-primary-400);
    min-height:100%;
    position:relative;
    padding-bottom: var(--footer-height);    /* Has to be same as height of the footer */
}


/*                      */
/*  HEADER SECTION      */
/*                      */
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-image: linear-gradient(to right,     #34495e, #34495e 14%, #9b59b6 14%, #9b59b6 29%, #3498db 29%, #3498db 43%, #62cb31 43%, #62cb31 58%, #ffb606 58%, #ffb606 72%, #e67e22 72%, #e67e22 87%, #e74c3c 87%, #e74c3c 100%);
    background-size: 100% var(--rainbow-height);
    padding-top: var(--rainbow-height);
    background-repeat: no-repeat;
    border-bottom: var(--header-border) solid var(--clr-background-150);
    align-items: center;
}

.menu-button{
    height: var(--font-size-large);
    width: var(--font-size-large);
    margin-left: 1rem;
}

.title-icon{
    max-height: var(--font-size-xlarge);
    margin-top: calc(var(--font-size-xxlarge) - var(--font-size-xlarge));
}

a.title {
    display: flex;
    font-size: var(--font-size-xxlarge);
    color: var(--clr-primary-400);
    text-decoration: none;
    justify-self: left;
    align-content: center;
    margin-left: 0.25rem;
}

a.logout {
    font-size: var(--font-size-default);
    color: var(--clr-primary-400);
    text-decoration: none;
    justify-self: right;
    margin-right: 1rem;
}

a.title:hover {
    color: var(--clr-primary-400);
    text-decoration: none;
}

a.logout:hover {
    color: var(--clr-primary-400);
}

/*                      */
/*  NAV SECTION         */
/*                      */
nav {
    display: flex;
    font-size: var(--font-size-large);
    font-weight:var(--font-weight-default);
    border-bottom: var(--header-border) solid var(--clr-background-150);
    background: var(--clr-neutral-100);
    color: var(--clr-background-200);
    justify-content: left;
}

nav a {
    color: var(--clr-primary-200);
    text-decoration: none;
    margin-left: 1rem;
}

nav a.live {
    color: var(--clr-primary-400-hover);
}

nav a:hover {
    text-decoration: underline;
}


/*                      */
/*  MAIN SECTION        */
/*                      */
main {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


/*                      */
/*  SIDEBAR SECTION     */
/*                      */
.sidebar {
    padding: 0;
    max-width: 20ch;
    min-height: 86vh;
    background-color: var(--clr-primary-400);
    font-size: var(--font-size-large);
}

@media (max-width: 450px){
    .sidebar{
        display: none;
    }

    a.title{
        color: var(--clr-neutral-200);
    }
    a.title:hover {
        color: var(--clr-neutral-200);
    }
}
  
.sidebar a {
    display: block;
    color: #ced3db;
    padding: 1vw;
    text-decoration: none;
}
  
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}
  
.sidebar a:hover:not(.active) {
    background-color: #6a839b;
    color: white;
}

.center-data.hide {
    display : none
}

/*                         */
/*  INPUT, FORMS, BUTTONS  */
/*                         */
input[type="file"] {
    background-color: var(--clr-neutral-200);
    color: var(--clr-primary-200);
    border: 1px solid var(--clr-background-150);
}

form input[type=text], form input[type="password"], form input[type="email"] {
    color: var(--clr-background-200);
    background: var(--clr-neutral-100);
    border: 1px solid var(--clr-background-150);
    border-radius: 3px;
    font-size: var(--font-size-large);
}

input, button {
    background-color: var(--clr-primary-200);
    border-radius: 1vw;
    color: var(--clr-neutral-100);
    border: none;
    font-size: var(--font-size-large);
}

input:hover, button:hover {
    background-color: var(--clr-primary-200-hover);
    color: var(--clr-neutral-200);
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size-large);
}

h2 {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-h1);
}

main a {
    color: var(--clr-primary-200);
    text-decoration: none;
}

main a:hover {
    color: var(--clr-primary-200-hover);
    text-decoration: underline;
}

/*                      */
/*  FOOTER SECTION      */
/*                      */
footer {
    border-top: 1px solid var(--clr-background-150);
    background: var(--clr-background-100);
    color: var(--clr-background-200);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height); 
}

footer a {
    color: var(--clr-primary-200);
    text-decoration: none;
}
